<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="stil.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="..\css\aos.css">
</head>
<body>
    <div id="site">
        <header>
            <div id="logo">
                <h1>DOUBLE DJ SOLUTIONS</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="#site">HOME</a></li>
                    <li><a href="#skills">SKILLS</a></li>
                    <li><a href="#frameworks">FRAMEWORKS</a></li>
                    <li><a href="#about">ABOUT US</a></li>
                    <li><a href="#contacts">CONTACTS</a></li>
                </ul>
            </nav>
        </header>